name: Submit dependency graph
on:
  push:
  
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v1
      with:
          java-version: 8
    - name: Setup libraries
      run: | 
          ./newrelic-dependencies.sh   
    - name: Setup Gradle to generate and submit dependency graphs
      uses: gradle/gradle-build-action@dependency-graph
      with:
        dependency-graph: generate-and-submit
    - name: Run a build, generating the dependency graph snapshot which will be submitted
      run: ./gradlew build
